<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col m3">
		<div class="collection">
			<% @videos.each do |video| %>
			<%= link_to video.title, video, :class => "collection-item" %>		      		
			<% end %>
		</div>
	</div>	
	<div class="col m9">
		<div class="card blue-grey darken-1">		
			<div class="card-content white-text">
			<div class="wistia_embed wistia_async_<%=@video.wistia%> videoQuality=hd-only videoFoam=true ">
			</div>
				<div class="btn btn-primary" onclick="setPlaySpeed(0.5)">0.5X</div>
				<div class="btn btn-primary" onclick="setPlaySpeed(1)">1X</div>
				<div class="btn btn-primary" onclick="setPlaySpeed(1.5)">1.5X</div>
				<div class="btn btn-primary" onclick="setPlaySpeed(2)">2X</div>


			<div class="card-title"> <%= @video.title %> </div>
				<p> <%=@video.description %></p>
			</div>
			<div class="card-action">
				<a href="#">Previous</a>
				<a href="#" class="right">Next</a>
			</div>
		</div>
	</div>	
</div>

<script>
	wistiaEmbed = Wistia.embed("<%= @video.wistia %>", {

	});
	function setPlaySpeed(speed){
		wistiaEmbed.playBackRate(speed);
	}
</script>

<script src="//fast.wistia.net/assets/external/E-v1.js" async></script>

